# See http://help.github.com/ignore-files/ for more about ignoring files.

**/overlays/eu.europa.ec.agri.jcore.jcore-view-static-4.5.5-new-ec-id.info

**/rebel.xml
# compiled output
**/node_modules
**/target
**/build
**/xxxxdist
**/out-tsc
**/tmp
**/tests/reports

# IDEs and editors
/.idea
**/*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/.metadata
/.recommenders
